[include mainsail.cfg] ;CA
[include bedmesh.cfg] ;ca
[include z_tilt.cfg] ;ca
[include bed_screws.cfg] ;ca
[include line_purge.cfg]
[include TEST_SPEED.cfg]
[include canbus_ebb36.cfg]
[include Orbiter2_SmartSensor.cfg]
[include start.cfg]
[include client_macro.cfg]
#[include adxl345_usb.cfg]

[exclude_object]


# This file contains common pin mappings for the BIGTREETECH Manta E3EZ
# To use this config, the firmware should be compiled for the
# STM32G0B1 with a "8KiB bootloader" "8 MHz crystal"
# and "USB (on PA11/PA12)" or "CAN bus (on PB12/PB13)".

# See docs/Config_Reference.md for a description of parameters.

[mcu]
#serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_4B0053000C504B5735313920-if00
#restart_method: command
canbus_uuid: be63b49d5151

# [mcu EBB]
# #serial: /dev/serial/by-id/usb-Klipper_Klipper_firmware_12345-if00
# canbus_uuid: 1e157ae330c5

[heater_bed]
heater_pin: PB2 #HB
sensor_type: EPCOS 100K B57560G104F #Generic 3950
sensor_pin: PA3 #TB
min_temp: 0
max_temp: 130

# [multi_pin my_part_fans]
# pins: PA8, EBB: PA0

# [fan]
# pin: multi_pin:my_part_fans

[fan]
pin: PA8

# [heater_fan fan1]
# pin: PB15

#[heater_fan fan2]
#pin: PB14

[printer]
kinematics: cartesian
max_velocity: 500
max_accel: 4800
max_z_velocity: 25
max_z_accel: 100
square_corner_velocity: 5

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PC1, EXP1_3=PC3, EXP1_5=PC0, EXP1_7=PA2, EXP1_9=<GND>,
    EXP1_2=PC2,  EXP1_4=<RST>, EXP1_6=PA0, EXP1_8=PA1, EXP1_10=<5V>

[stepper_x]
step_pin: PA14
dir_pin: !PA10
enable_pin: !PA13
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC4
position_min: -9
position_endstop: -9
position_max: 240
homing_speed: 50

[stepper_y]
step_pin: PC8
dir_pin: !PA15
enable_pin: !PC14
microsteps: 16
rotation_distance: 40
endstop_pin: ^PB0
position_endstop: 0
position_max: 225
homing_speed: 50

[stepper_z]
step_pin: PD2
dir_pin: !PD4
enable_pin: !PD3
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
#position_endstop: 0
position_max: 110
position_min:-4


[stepper_z1]
step_pin: PB7
dir_pin: !PB6
enable_pin: !PB4
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
#position_endstop: 0
#position_max: 250
#position_min: -2

# [extruder]
# step_pin: PD5
# dir_pin: PD6
# enable_pin: !PB3
# microsteps: 16
# rotation_distance: 24.757
# nozzle_diameter: 0.400
# filament_diameter: 1.750
# heater_pin: PB11 #HE0
# sensor_type: ATC Semitec 104NT-4-R025H42G
# sensor_pin: PA4 #TH0
# #control: pid
# #pid_Kp: 34.022
# #pid_Ki: 2.120
# #pid_Kd: 136.513
# min_temp: 0
# max_temp: 300


########################################
# TMC2209 configuration
########################################

[tmc2209 stepper_x]
uart_pin: PB8
#diag_pin: PC4
run_current: 0.650
interpolate: False
stealthchop_threshold: 999999

[tmc2209 stepper_y]
uart_pin: PC9
#diag_pin: PB0
run_current: 0.650
interpolate: False
stealthchop_threshold: 999999

[tmc2209 stepper_z]
uart_pin: PD0
#diag_pin: PC6
run_current: 0.650
interpolate: False
stealthchop_threshold: 999999

# [tmc2209 extruder]
# uart_pin: PD1
# run_current: 0.800
# stealthchop_threshold: 999999

[tmc2209 stepper_z1]
uart_pin: PB5
run_current: 0.650
interpolate: False
stealthchop_threshold: 999999

[safe_z_home]
home_xy_position:115, 115
#   A X, Y coordinate (e.g. 100, 100) where the Z homing should be
#   performed. This parameter must be provided.
speed: 50
#   Speed at which the toolhead is moved to the safe Z home
#   coordinate. The default is 50 mm/s
z_hop:5
#   Distance (in mm) to lift the Z axis prior to homing. This is
#   applied to any homing command, even if it doesn't home the Z axis.
#   If the Z axis is already homed and the current Z position is less
#   than z_hop, then this will lift the head to a height of z_hop. If
#   the Z axis is not already homed the head is lifted by z_hop.
#   The default is to not implement Z hop.
z_hop_speed: 30
#   Speed (in mm/s) at which the Z axis is lifted prior to homing. The
#   default is 15 mm/s.
move_to_previous: false
#   When set to True, the X and Y axes are reset to their previous
#   positions after Z axis homing. The default is False.


[temperature_sensor CB2]
sensor_type: temperature_host
max_temp: 100

[temperature_sensor Manta]
sensor_type: temperature_mcu
max_temp: 100

[temperature_sensor ebb36]
sensor_type: temperature_mcu
sensor_mcu: EBB
min_temp: 0
max_temp: 100

[input_shaper]
#shaper_freq_x: 0
#   A frequency (in Hz) of the input shaper for X axis. This is
#   usually a resonance frequency of X axis that the input shaper
#   should suppress. For more complex shapers, like 2- and 3-hump EI
#   input shapers, this parameter can be set from different
#   considerations. The default value is 0, which disables input
#   shaping for X axis.
#shaper_freq_y: 0
#   A frequency (in Hz) of the input shaper for Y axis. This is
#   usually a resonance frequency of Y axis that the input shaper
#   should suppress. For more complex shapers, like 2- and 3-hump EI
#   input shapers, this parameter can be set from different
#   considerations. The default value is 0, which disables input
#   shaping for Y axis.
# shaper_type: mzv
#   A type of the input shaper to use for both X and Y axes. Supported
#   shapers are zv, mzv, zvd, ei, 2hump_ei, and 3hump_ei. The default
#   is mzv input shaper.

# [bltouch]
# sensor_pin: PA6
# control_pin: PA7
# x_offset: -45
# y_offset: -10
# #z_offset: 0

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*#
#*# [bltouch]
#*# z_offset = 2.040
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 67.123
#*# pid_ki = 1.130
#*# pid_kd = 996.772
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.132926, -0.057926, -0.040426, -0.005426, 0.019574, 0.029574, 0.012074, -0.080426, -0.172926
#*# 	-0.152926, -0.100426, -0.072926, -0.017926, 0.029574, 0.027074, -0.000426, -0.087926, -0.172926
#*# 	-0.105426, -0.047926, -0.032926, 0.014574, 0.039574, 0.067074, 0.034574, -0.065426, -0.140426
#*# 	-0.112926, -0.067926, -0.055426, -0.005426, 0.004574, 0.002074, 0.007074, -0.097926, -0.175426
#*# 	-0.135426, -0.045426, -0.040426, -0.027926, 0.009574, -0.017926, -0.015426, -0.115426, -0.180426
#*# 	-0.107926, -0.077926, -0.062926, -0.010426, 0.024574, 0.007074, 0.007074, -0.102926, -0.162926
#*# 	-0.115426, -0.052926, -0.032926, -0.025426, 0.019574, 0.004574, -0.005426, -0.120426, -0.175426
#*# 	-0.152926, -0.072926, -0.072926, -0.045426, 0.017074, -0.015426, -0.010426, -0.110426, -0.172926
#*# 	-0.157926, -0.075426, -0.037926, -0.005426, 0.027074, 0.017074, 0.009574, -0.107926, -0.175426
#*# x_count = 9
#*# y_count = 9
#*# mesh_x_pps = 5
#*# mesh_y_pps = 5
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 10.0
#*# max_x = 178.0
#*# min_y = 10.0
#*# max_y = 190.0
#*#
#*# [input_shaper]
#*# shaper_type_x = ei
#*# shaper_freq_x = 69.8
#*# shaper_type_y = mzv
#*# shaper_freq_y = 40.6
